body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.site-title {
    color: darkslategray;
}

#my-image {
    box-shadow: 0 0 2px 1px;
}


/* targeting <h1> and footer tags on the page */
header, footer{
    background-color: lightgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

ul{
    list-style: square;
}

li:nth-child(odd) {
    background-color: lightgray;
    font-size: larger;
}

li:nth-child(even) {
    background-color: darkgrey;
    font-size: larger;
}

a:link{
    text-decoration: none;
    border: 2px solid black;
    background-color: lightgray;
}

a:hover{
    text-decoration: none;
    background-color: lightsalmon;
}