/* This is a CSS Comment */
body { /* 0,0,1 */
    color: red;
    font-size: 20px;
}

body{
    color: aqua;
}
h1 {
    color: green;
}

h2 {
    color: green;
}

footer p { /* 0,0,2 */
    /* color: #336699; */
    /* color: #369; */
    color: rgba(12,56,155,0.5);
}

.error {
    font-weight: bold;
}

.underline {
    border-bottom: 1px solid black;
}

#success {
    font-style: italic;
}

main > h2 {
    font-size: 2rem;
}

a:link, a:visited {
    color: cadetblue;
}

a:hover, a:active {
    color: orange;
}

main p:first-child {
    font-size: 0.5rem;
}

main p:nth-child(2) {
    font-size: 0.5rem;
}