*,
*::before
*::after {
    box-sizing: border-box;
}

html {
    font-size:  16px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background-color: black;
    text-align: center;
    padding: 1rem;
}

header h1 {
    color: white;
}

nav ul {
    list-style: none;
    border-bottom: lightcoral;
    padding-left: 0;
}

nav ul li {
    margin: 1rem;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}   

.products {
    background-color: lightgray;
    padding: 1rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}

/* tablet width */
@media screen and (min-width: 600px) {
    header h1 {
        float: left;
    }

    header nav {
        float: right;
    }
}

header nav li {
    display: inline;
}

/* desktop width */
@media screen and (min-width: 900px) {
    .wrapper {
        width: 900px;
    }

    .products .wrapper div {
        float: left;
        width: 33%;
        padding: 1rem;
    }
}

