.box {
    width: 80px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background-color: #aad4cf;
}    

/* Container holding the image and the text */
.container {
    text-align: center;
    color: white;
    font-size: 90px;
    position: absolute;
}

/* Centered text */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 1px grey;
    background-color: #b7e7e2;
    color: black;
    padding: 14px 38px 20px;
    font-size: 40px;
    cursor: pointer;
    width: 33%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background: #aad4cf;
}

.site-title {
    color: white;
    background-image: url("images/lone-starfish-wide.jpg");
}

h2 {
    font-size: 45px;
    font-style: normal;
}

/*contain holding only text */
#lone-starfish {
    float: left;
    margin: 0 20px 0 0;
}

p{
    font-size: 24px;
    margin: 10px;
}

h3 {
    font-size: 40px;
    font-style: normal;
}

ul { 
    list-style: square;
}

.facts {
    position: absolute;
    left: auto;
    top: 1220px;
    font-size: 30px;
}

h4 {
    position: relative;
    margin-top: 300px;
    font-size: 40px;
}

/* style the contact-card */
form {
    box-sizing: border-box;
    display: block;

}