/* Container holding the image and the text */
.container {
    text-align: center;
    color: white;
    font-size: 80px;
    position: absolute;
}

/* Centered text */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background: #aad4cf;
}

.site-title {
    color: white;
    background-image: url("images/lone-starfish-wide.jpg");
}

h2 {
    font-size: xx-large;
    font-style: normal;
}

#lone-starfish {
    float: left;
    margin: 0 20px 0 0;
    size: 500px;
}

h3 {
    font-size: large;
    font-style: normal;
}
