html{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 18px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 18px;
}
p{
	font-size: 10px;
}
button{
    color: #c78c06;
    background-color: #222;
    padding: 10px;
}
header{
    background-color: black;
}
.menu div:nth-child(1){
    background-color: #c78c06;
}
ul{
    text-align: center;
}
ul li:nth-child(1){
    background-color: #c78c06;
}
header form{
    text-align: center;
}
.banner{
    background-image: url(../images/main-banner.jpg);
}
.gray{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.aboutus img{
    width: 100%;
}
.aboutus{
    padding: 10px;
    background-color:#c78c06 ;
}
.Services{
    background-color: #c78c06;
}
.Services img{
    width: 100%;
}
.ourservices{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}
.ourvision{
    color: white;
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.team{
    margin: 10px auto;
    background-color: #c78c06;
    padding: 10px;
}
.team img{
    width: 100%;
}
.contactus{
    padding: 10px;
}
.contactus form input{
    width: 100%;
}
form textarea{
    width: 100%;
}
.ourschedule{
    padding: 10px;
}
table{
    width: 100%;
}
table, th, td {
    border: 2px solid black; border-collapse: collapse;
}
.ourlocation{
    padding: 20px;
}
iframe{
    width: 100%;
}
footer{
    background-color: #222 ;
    color: #c78c06;
}
