html{
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

.wrappern menu {
	width: 100%;
}

header{
    background-color: black;
}

.banner p{
	font-size: 1rem;
	color: white;
}
.form class button{
	width: 100%;
}
.menu div:nth-child(1){
    background-color: #c78c06;
}
ul{
    text-align: center;
}
ul li:nth-child(1){
    background-color: #c78c06;
}
ul li:nth-child(1){
    color: #222;
}

header form{
    text-align: center;
}

.banner{
	background-image: url(../images/main-banner.jpg);
	padding: 20px;
}

.gray{
    background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-top: 50px;
}

.banner h1{
	font-size: 4rem;
	font-weight: 700;
	color: white;
	padding: 30px;
}

.banner p{
	font-size: 1rem;
	color: white;
	padding: 30px;
}

.btn {
	color: black;
	background-color: #c78c06;
	border: none;
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 30px;
	padding: 20px;
}

#aboutus img{
    width: 50%;
	margin: 30px;
}

#aboutus {
	background-color: #f7e0ad;
	padding: 20px;
}

#aboutus h1{
	font-size: 3rem;
	font-weight: 700;
	padding: 10px;
	margin: 10px auto;
}

#aboutus p{
	display: flex;
    text-align: left;
	font-size: 1rem;
	padding: 10px;
}

.Services{
    background-color: #f7e0ad;
}

.Services img{
    width: 100%;
}

#ourservices{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

#ourservices h1{
	font-size: 3rem;
	font-weight: 700;
	padding: 10px; 
}

#ourservices h2{
	font-size: 2rem;
	font-weight: 700;
	padding: 10px; 
}

#ourservices p{
	font-size: 1rem;
	padding: 10px; 
}

#ourvision{
	background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#ourvision h2{
	font-size: 2rem;
	color: white;
	font-weight: 600;
	padding: 10px;
}

#ourvision p{
	background-image: url(../images/vision.jpg);
	font-size: 1rem;
	color: white;
	padding: 10px;
}

.team{
    background-color: #f7e0ad;
    padding: 10px;
}

.team img{
    width: 100%;
}

#ourteam h1{
    font-size: 3rem;
	font-weight: 700;
	padding: 10px; 
}

#ourteam h2{
    font-size: 2rem;
	font-weight: 700;
	padding: 10px; 
}

#ourteam h4{
    font-size: 1rem;
	font-weight: 700;
	padding: 10px; 
}

hr{
	display: block;
	width: 95%;
	border-color: #c78c06;
	padding: auto;
}

#ourteam p{
    font-size: 1rem;
	padding: 10px;
	padding-top: 30px; 
}

#ourcontacts h1{
	font-size: 3rem;
	font-weight: 700;
	margin-top: 30px;

}

#ourcontacts h2{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

#ourcontacts .fullname{
	padding: 10px;
}

#ourcontacts{
    padding: 10px;
}

#ourcontacts form input{
    width: 100%;
}

form textarea{
    width: 100%;
}

.ourschedule{
    padding: 10px;
}

.ourschedule h2{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid black; border-collapse: collapse;
	padding: 20px;
}

.ourschedule th{
    background-color: #f5cf9e;
	padding: 20px;
}

.ourlocation{
	padding: 20px;
	width: 100%;
}

.ourlocation h2{
    font-size: 2rem;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

#ourlocation .iframe {
    width: 100%;
}

footer {
    background-color: #222 ;
    color: #c78c06;
	padding: 20px;
}


@media screen and (min-width: 760px){
	#ourteam .team:nth-child(2){
		display: flex;
		flex-direction: row;
	}
	#ourteam .team:nth-child(3){
		display: flex;
		flex-direction: row-reverse;
	}
	.team img{width:50%}
	.servicegrid{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		"s-1 s-1 s-1 s-2 s-2 s-2"
		"s-3 s-3 s-4 s-4 s-5 s-5";
		column-gap: 10px;
	}
	.servicegrid .Services:nth-child(1){grid-area: s-1;}
	.servicegrid .Services:nth-child(2){grid-area: s-2;}
	.servicegrid .Services:nth-child(3){grid-area: s-3;}
	.servicegrid .Services:nth-child(4){grid-area: s-4;}
	.servicegrid .Services:nth-child(5){grid-area: s-5;}
}