html{
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

.wrappern menu {
	width: 100%;
}

header{
    background-color: black;
}

.banner p{
	font-size: 1rem;
	color: white;
}
.form button{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
.menu div:nth-child(1){
    background-color: #c78c06;
	width: 100%;
	padding: 0;
}

ul{
    text-align: center;
	font-size: 2rem;
}

ul li:nth-child(1){
    background-color: #c78c06;
}

.wrapper form{
    text-align: center;
	width: 100%;
	padding: 10px;
	color: #c78c06;
}

.banner{
	background-image: url(../images/main-banner.jpg);
	padding: 20px;
}

.gray{
    background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	margin-top: 50px;
}

.banner h1{
	font-size: 7rem;
	font-weight: 700;
	color: white;
	padding: 30px;
}

.banner p{
	font-size: 1rem;
	color: white;
	padding: 30px;
}

.btn {
	color: black;
	background-color: #c78c06;
	border: none;
	width: 35%;
	margin-top: 30px;
	margin-left: 55px;
	margin-bottom: 20px;
	font-size: 1rem;
}

#aboutus img{
	width: 100%;
}

#aboutus {
	background-color: #ffe6ac;
	padding: 100px;
}

#aboutus h1{
	font-size: 3rem;
	font-weight: 700;
	margin-top: 30px;
}

#aboutus p{
	font-size: 1rem;
	margin-top: 30px;

}

.Services{
    background-color: #ffe6ac;
}

.Services img{
    width: 100%;
}

#ourservices{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
	background-color: white;
	column-gap: 20px;
	row-gap: 20px;
}

#ourservices h1{
	font-size: 3rem;
	font-weight: 700;
	margin-top: 30px;
}

#ourservices h2{
	font-size: 2rem;
	font-weight: 700;
	padding: 20px; 
}

#ourservices p{
	font-size: 1rem;
	padding: 20px; 
}

#ourservices .btn{
	padding: 20px; 
	color: #222;
	margin-left: 20px;
}

#ourvision{
	background-image: url(../images/vision.jpg);
	padding: 100px;
}

#ourvision h2{
	font-size: 3rem;
	color: white;
	font-weight: 700;
	padding: 0;
}

#ourvision p{
	font-size: 1rem;
	color: white;
	padding: 0;
	margin-top: 20px;
}

#ourvision .btn{
	padding: 20px; 
	color: #222;
	margin-left: 0;		
}

.team{
    background-color: #ffe6ac;
    padding: 0;
}

.team img{
    width: 100%;
}

#ourteam h1{
    font-size: 4rem;
	font-weight: 700;
	padding: 10px; 
	margin-top: 20px;
	margin-bottom: 20px;
}

#ourteam h2{
    font-size: 2rem;
	font-weight: 700;
	padding: 10px; 
	margin-top: 20px;
	margin-left: 20px;
}

#ourteam h4{
    font-size: 1rem;
	font-weight: 700;
	padding: 10px; 
	margin-left: 20px;
}

hr{
	display: block;
	width: 95%;
	border-color: #c78c06;
	padding: 0;
}

#ourteam p{
    font-size: 1rem;
	padding: 10px;
	margin-left: 20px;
}

#ourcontacts h1{
	font-size: 3rem;
	font-weight: 700;
	margin-top: 30px;

}

#ourcontacts h2{
	font-size: 2rem;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

.ourcontacts {
	padding: 10px;
	color: #222;
}


#ourcontacts form input{
    width: 100%;
}

form textarea{
    width: 100%;
}

.ourschedule{
    padding: 10px;
}

.ourschedule h2{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid black; border-collapse: collapse;
	padding: 20px;
}

.ourschedule th{
    background-color: #ffe6ac;
	padding: 20px;
}

.ourlocation{
	padding: 20px;
}

.ourlocation h2{
    font-size: 2rem;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
}

.iframe {
    width: 100%;
	padding: 100px;
}

footer {
    background-color: #222 ;
    color: #c78c06;
	padding: 20px;
}


@media screen and (min-width: 760px){
	#ourteam .team:nth-child(2){
		display: flex;
		flex-direction: row;
	}
	#ourteam .team:nth-child(3){
		display: flex;
		flex-direction: row-reverse;
	}
	.team img{width:50%}
	.servicegrid{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-areas: 
		"s-1 s-1 s-1 s-2 s-2 s-2"
		"s-3 s-3 s-4 s-4 s-5 s-5";
		column-gap: 10px;
	}
	.servicegrid .Services:nth-child(1){grid-area: s-1;}
	.servicegrid .Services:nth-child(2){grid-area: s-2;}
	.servicegrid .Services:nth-child(3){grid-area: s-3;}
	.servicegrid .Services:nth-child(4){grid-area: s-4;}
	.servicegrid .Services:nth-child(5){grid-area: s-5;}
}